/* HOME SEARCH STYLES */

.home-search {
    background-color: rgb(122, 122, 122);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-search-form {
    height: 40px;
    width: 40%;
    margin: 30px 10px;
    border-radius: 50px;
    background-color: rgb(59 59 59);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid black;
}

.home-search-input {
    height: 100%;
    width: 90%;
    font-size: larger;
    text-align: center;
    border: none;
    text-decoration: none;
}

.home-search-input:hover,
.home-search-input:focus {
    outline: none;
}

.home-search-button {
    position: absolute;
    left: 90%;
    height: 100%;
    width: 10%;
}

.home-search-advanced {
    margin: 30px 10px;
    background-color: rgb(211, 211, 211);
    height: 40px;
    padding: 0px 15px;
    border-radius: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    border: 1px solid black;
}

.home-search-advanced:hover {
    background-color: rgb(194, 194, 194);
}